<% if asset.displayable? %>
    <div class="image_display">
        <%= link_to("#{asset.asset.url(:original)}&type=#{URI.encode(@type)}", :class => "zoom", :rel => "immagine_sito") {image_tag("#{asset.asset.url(:thumb)}&type=#{URI.encode(@type)}", :alt => 'Apri Immagine')}%>
        <div><%= asset.asset.to_file.original_filename %></div>
        <%= destroy_link(asset, model) %>
    </div>
<% else %>
    <div>
        <%= link_to(asset.asset.to_file.original_filename, "#{asset.asset.url}&type=#{@type}") %>
        <%= destroy_link(asset, model) %>
    </div>
<% end %>